<a href="https://colab.research.google.com/github/LogananthanD/SQL_Project/blob/main/Imdb_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Analysing IMDB Movie Dataset**

In [ ]:
# Project 1
# Analysing IMDB Movie Dataset
import pandas as pn
df = pn.read_csv("IMDBMovie.csv")
df

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02
...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,Crime,Billy Ray,2015,111,6.2,27585,NaN
996,997,Hostel: Part II,Horror,Eli Roth,2007,94,5.5,73152,17.54
997,998,Step Up 2: The Streets,Drama,Jon M. Chu,2008,98,6.2,70699,58.01
998,999,Search Party,Adventure,Scot Armstrong,2014,93,5.6,4881,NaN
999,1000,Nine Lives,Comedy,Barry Sonnenfeld,2016,87,5.3,12435,19.64

# **TASK_1**

In [ ]:
#How many rows are there in the IMDB dataset?
df.shape[0]

1000

# **TASK_2**

In [ ]:
# What is the 75th percentile of rating in the IMDB dataset?
df.describe()

,ID,Year,Runtime_minutes,Rating,Votes,Revenue_millions
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000

# **TASK_3**

In [ ]:
# How many NA values are there in the field ‘Revenue’?
df['Revenue_millions'].isnull().sum()

128

# **TASK_4**

In [ ]:
#How many movies have revenue higher than 75 million?
(df['Revenue_millions'] > 75).sum()

318

# **TASK_5**

In [ ]:
# How many movies have revenue great"er than 50 million but rating less than 7?
df[(df["Revenue_millions"] > 50) & (df["Rating"] < 7)]["Title"].count()

211

# **TASK_6**

In [ ]:
# What is the total revenue generated by movies in the year 2015?
df[df["Year"] == 2015]["Revenue_millions"].sum()

8854.119999999999

# **TASK_7**

In [ ]:
# What is the average rating for the genre adventure in the year 2015?
df[(df["Genre"] == "Adventure") & (df["Year"] == 2015)]["Rating"].mean()

6.8

# **TASK_8**

In [ ]:
# What is the average duration of movies in rows 75 to 150? Please note that the rows in python start from 0.

df.iloc[75:151]["Runtime_minutes"].mean()
 #OR
cond = df.iloc[75:151]
cond ["Runtime_minutes"].mean()

127.47368421052632

# **TASK_9**

In [ ]:
# Which year generated the highest revenue?
df.groupby(by = "Year")["Revenue_millions"].sum().sort_values(ascending = False)

Year
2016    11211.65
2015     8854.12
2014     7997.40
2013     7666.72
2012     6910.29
2010     5989.65
2011     5431.96
2009     5292.26
2008     5053.22
2007     4306.23
2006     3624.46
Name: Revenue_millions, dtype: float64

# **TASK_10**

In [ ]:
# What is the maximum revenue out of (10,20,30,40,50) rows?
df.iloc[10:60:10]["Revenue_millions"].max()

936.63

# **TASK_11**

In [ ]:
# How many movies with the genres ‘Adventure’, ‘Action’, ‘Horror’, and ‘Crime’ exist in the IMDB dataset?
df[df["Genre"].isin(["Adventure","Action","Horror","Crime"])]["Title"].count()

485

# **TASK_12**

In [ ]:
# Create a genre-level report with metrics average rating, the average number of votes, and average revenue.
# What is the average rating of the ‘Horror’ genre?
df[df["Genre"] == "Horror"]["Rating"].mean()

5.867391304347826

# **TASK_13**

In [ ]:
# How many movies has Billy Ray	directed and find the year of release of those movies
cond = df[df["Director"] == "Billy Ray"]["Title"].count()
print("The no of movies has Billy Ray	directed is",cond)
year = df[df["Director"] == "Billy Ray"]["Year"]
print("The year of movie that billy ray directed is",year)

The no of movies has Billy Ray	directed is 1
The year of movie that billy ray directed is 995    2015
Name: Year, dtype: int64

# TASK_14

In [ ]:
# How many movies were released in the year 2012 - 14. What type of genre were released the most
x = df[df["Year"].isin([2012,2013,2014])]["Title"].count()
print("The no of movies were released in the year 2012 - 14 is",x)
y= df[df["Year"].isin([2012,2013,2014])]["Genre"].min()
print("Type of Genre were released the most is",y)

The no of movies were released in the year 2012 - 14 is 253
Type of Genre were released the most is Action

# **TASK_15**

In [ ]:
# Which Movie had the highest vote and what genre it belongs to.
print(df[df["Votes"] == df["Votes"].max()]["Title"])
df[df["Votes"] == df["Votes"].max()]["Genre"]

54    The Dark Knight
Name: Title, dtype: object

54    Action
Name: Genre, dtype: object

# **TASK_16**

In [ ]:
# Find the Director whose movie grossed the highest. Also find the total revenue generated by that director
x = df[df["Revenue_millions"] == df["Revenue_millions"].max()]["Director"]
print("The Director whose movie grossed the highest is",x)
y = df[df["Director"] == 'J.J. Abrams']["Revenue_millions"].sum()
print("The total revenue generated by director J.J. Abrams is",y)

The Director whose movie grossed the highest is 50    J.J. Abrams
Name: Director, dtype: object
The total revenue generated by director J.J. Abrams is 1683.4499999999998

# **TASK_17**

In [176]:
#Create a report to showcase the revenue of each movie, as % revenue concerning the total revenue of the respective genre and year of the movie.
#For example if a movie ‘ABC’ has genre ‘Action’ and released in 2015, then % revenue will be
#(Revenue of the movie ‘ABC’ *100)/ (Total revenue of the genre ‘Action’ in 2015)

#What is the  % revenue of the movie ‘Split’ in its respective genre and year?

df['%_Revenue'] = (df['Revenue_millions'] / df.groupby(['Genre', 'Year'])['Revenue_millions'].transform('sum')) * 100
split_revenue = df[df['Title'] == 'Split']['%_Revenue'].values[0]
print(f'The % revenue of the movie ‘Split’ in its respective genre and year is : {split_revenue:}')

The % revenue of the movie ‘Split’ in its respective genre and year is : 29.42041024985622